<!DOCTYPE html>
<html lang="ko">

<th:block th:fragment="header">

    <!--====== Nav 1 ======-->
    <nav class="primary-nav primary-nav-wrapper--border">
        <div class="container">
            <!--====== Primary Nav ======-->
            <div id="primary-nav" class="primary-nav">
                <!--====== Main Logo ======-->
                <a id="main-logo" class="main-logo" href="/"><img src="/images/logo/logo-1.png" alt=""></a>
                <!--====== End - Main Logo ======-->

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs responsible-hidden"
                            type="button"></button>
                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs responsible-hidden" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">
                        <span class="ah-close">✕ Close</span>
                        <!--====== List ======-->
                        <ul id="nav-list" class="ah-list ah-list--design1 ah-list--link-color-secondary">

                            <li id="nav-login-li" class="u-s-m-r-6">
                                <a href="/login"><i class="fas fa-lock"></i>
                                    <span>로그인</span></a></li>

                            <li id="nav-logout-li" class="u-s-m-r-6">
                                <a class="btn" onclick="kakaoLogout()"><i class="fas fa-lock-open"></i>
                                    <span>로그아웃</span></a>
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 1 ======-->

    <!--====== Nav 2 ======-->
    <nav class="secondary-nav-wrapper">
        <div class="container">

            <!--====== Secondary Nav ======-->
            <div class="secondary-nav">

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation1"></div>
                <!--====== End - Dropdown Main plugin ======-->


                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation2">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog responsible-hidden"
                            type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">
                        <span class="ah-close">✕ Close</span>
                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                            <li><a href="/gifticon/add">기프티콘 등록</a></li>
                            <li><a href="/user/my-gifticon">내 기프티콘</a></li>
                            <li><a href="/gifticon/list">기프티콘 목록</a></li>
                            <li>
                                <a href="/gifticons">기프티콘 구매</a>
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation3">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop responsible-hidden"
                            type="button"></button>

                    <span class="total-item-round"></span>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">
                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li><a href="/wishlist"><i class="far fa-heart"></i></a></li>
                            <li class="has-dropdown">
                                <a class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i><span
                                        class="total-item-round"></span></a>

                                <!--====== Dropdown ======-->
                                <span class="js-menu-toggle"></span>
                                <div class="mini-cart">
                                    <form action="/payment/checkout" method="get" name="checkout-form">
                                        <!--====== Mini Product Container ======-->
                                        <div class="mini-product-container gl-scroll u-s-m-b-15" id="mini-cart-list">
                                        </div>
                                        <!--====== End - Mini Product Container ======-->


                                        <!--====== Mini Product Statistics ======-->
                                        <div class="mini-product-stat">
                                            <div class="mini-total">
                                                <span class="subtotal-text">결제 금액</span>
                                                <span class="subtotal-value" id="subtotal-value"></span>
                                            </div>
                                            <div class="mini-action">
                                                <button class="mini-link btn--e-brand-b-2" type="submit" style="width: 100%; cursor: pointer;">결제 하기</button>
                                                <a class="mini-link btn--e-transparent-secondary-b-2" href="/carts">장바구니
                                                    보기</a></div>
                                        </div>
                                        <!--====== End - Mini Product Statistics ======-->
                                    </form>
                                </div>
                                <!--====== End - Dropdown ======-->
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Secondary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 2 ======-->
</th:block>
</html>