<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <th:block th:replace="fragments/base/head :: head"></th:block>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">
    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">
        <th:block th:replace="fragments/base/header :: header"></th:block>
    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">
        <!--====== Section 2 ======-->
        <div class="u-s-p-y-60">
            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-b-16">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary u-s-m-b-12">판매중인 전체 기프티콘</h1>
                                <span class="section__span u-c-silver">전체 보기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->


            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="filter-category-container">
                                <div class="filter__category-wrapper">

                                    <button class="btn filter__btn filter__btn--style-1 js-checked" type="button" data-filter="*">전체</button></div>
                                <div class="filter__category-wrapper">

                                    <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".headphone">음료</button></div>
                                <div class="filter__category-wrapper">

                                    <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".smartphone">맥도날드</button></div>
                                <div class="filter__category-wrapper">

                                    <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".sportgadget">카테고리</button></div>
                                <div class="filter__category-wrapper">

                                    <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".dslr">브랜드?</button></div>
                            </div>


                            <div class="filter__grid-wrapper u-s-m-t-30">
                                <div id="row-product-div" class="row">
                                    <div id="item-div" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item">
                                        <div id="product-div" class="product-o product-o--hover-on product-o--radius">

                                            <div id="imageAndModal-product-div" class="product-o__wrap">
                                                <a id="image-product-a" class="aspect aspect--bg-grey aspect--square u-d-block">
                                                    <img class="aspect__img" src="images/product/electronic/product2.jpg" alt="">
                                                </a>

                                                <div id="action-product-div" class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li><a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                        <li><a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                        <li><a href="account/login.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                        <li><a href="account/login.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <span class="product-o__category">
                                                <a href="shop-side-version-2.html">브랜드 이름</a>
                                            </span>

                                            <span class="product-o__name">
                                                <a href="product-detail.html">상품이름</a>
                                            </span>

                                            <div class="product-o__rating gl-rating-style">
                                                남은 기간
                                            </div>

                                            <span class="product-o__price">
                                                판매가격
                                                <span class="product-o__discount">정가</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="load-more">

                                <button class="btn btn--e-brand" type="button">Load More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->


    </div>
    <!--====== End - App Content ======-->

    <!--====== Main Footer ======-->
    <footer>
        <th:block th:replace="fragments/base/footer :: footer"></th:block>
    </footer>

    <!--====== Modal Section ======-->


    <!--====== End - Modal Section ======-->
</div>
<!--====== End - Main App ======-->

<th:block th:replace="fragments/base/script :: script"></th:block>
<script src="/js/gifticon/kakao-chatbot.js"></script>
<script src="/js/gifticon/file-add.js"></script>
<script src="/js/gifticon/list.js"></script>


</body>
</html>