<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <th:block th:replace="fragments/base/head :: head"></th:block>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">
        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">

    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">
        <th:block th:replace="fragments/base/header :: header"></th:block>
    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">
        <form action="/payment/checkout" method="get" name="checkout-form" class="f-cart">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="is-marked">

                                        <a href="/carts">Cart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="table-responsive">
                                    <table class="table-p">
                                        <tbody id="cart-list">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g1">

                                        <a class="route-box__link" href="shop-side-version-2.html"><i
                                                class="fas fa-long-arrow-alt-left"></i>

                                            <span>CONTINUE SHOPPING</span></a></div>
                                    <div class="route-box__g2">

                                        <a class="route-box__link" id="clear-cart"><i class="fas fa-trash"></i>

                                            <span>CLEAR CART</span></a>

                                        <a class="route-box__link"><i class="fas fa-sync"></i>

                                            <span>UPDATE CART</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="row" style="flex-direction: row-reverse;">
                                    <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                        <div class="f-cart__pad-box">
                                            <div class="u-s-m-b-30">
                                                <table class="f-cart__table">
                                                    <tbody>
                                                    <tr>
                                                        <td>TAX</td>
                                                        <td id="tax">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>SUBTOTAL</td>
                                                        <td id="sub-total"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GRAND TOTAL</td>
                                                        <td id="grand-total"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>

                                                <button class="btn btn--e-brand-b-2" type="submit"> PROCEED TO
                                                    CHECKOUT
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </form>
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <footer>
        <th:block th:replace="fragments/base/footer"></th:block>
    </footer>

    <!--====== Modal Section ======-->


    <!--====== Shipping Address Add Modal ======-->
    <div class="modal fade" id="edit-ship-address">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="checkout-modal2">
                        <div class="u-s-m-b-30">
                            <div class="dash-l-r">
                                <h1 class="gl-modal-h1">Shipping Address</h1>
                                <div class="dash__link dash__link--brand">

                                    <a data-modal="modal" data-modal-id="#add-ship-address" data-dismiss="modal">Add new
                                        Address</a></div>
                            </div>
                        </div>
                        <form class="checkout-modal2__form">
                            <div class="dash__table-2-wrap u-s-m-b-30 gl-scroll">
                                <table class="dash__table-2">
                                    <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Full Name</th>
                                        <th>Address</th>
                                        <th>Region</th>
                                        <th>Phone Number</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="address-1" name="default-address" checked="">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="address-1"></label></div>
                                            </div>
                                            <!--====== End - Radio Box ======-->
                                        </td>
                                        <td>John Doe</td>
                                        <td>4247 Ashford Drive Virginia VA-20006 USA</td>
                                        <td>Virginia VA-20006 USA</td>
                                        <td>(+0) 900901904</td>
                                        <td>
                                            <div class="gl-text">Default Shipping Address</div>
                                            <div class="gl-text">Default Billing Address</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="address-2" name="default-address">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="address-2"></label></div>
                                            </div>
                                            <!--====== End - Radio Box ======-->
                                        </td>
                                        <td>Doe John</td>
                                        <td>1484 Abner Road</td>
                                        <td>Eau Claire WI - Wisconsin</td>
                                        <td>(+0) 7154419563</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="gl-modal-btn-group">

                                <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>

                                <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Shipping Address Add Modal ======-->


    <!--====== Shipping Address Add Modal ======-->
    <div class="modal fade" id="add-ship-address">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="checkout-modal1">
                        <form class="checkout-modal1__form">
                            <div class="u-s-m-b-30">
                                <h1 class="gl-modal-h1">Add new Shipping Address</h1>
                            </div>
                            <div class="gl-inline">
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-fname">FIRST NAME *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-fname"
                                           placeholder="First Name"></div>
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-lname">LAST NAME *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-lname"
                                           placeholder="Last Name"></div>
                            </div>
                            <div class="gl-inline">
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-phone">PHONE *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-phone">
                                </div>
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-street">STREET ADDRESS *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-street"
                                           placeholder="House Name and Street"></div>
                            </div>
                            <div class="gl-inline">
                                <div class="u-s-m-b-30">

                                    <!--====== Select Box ======-->

                                    <label class="gl-label" for="address-country">COUNTRY *</label><select
                                        class="select-box select-box--primary-style" id="address-country">
                                    <option selected value="">Choose Country</option>
                                    <option value="uae">United Arab Emirate (UAE)</option>
                                    <option value="uk">United Kingdom (UK)</option>
                                    <option value="us">United States (US)</option>
                                </select>
                                    <!--====== End - Select Box ======-->
                                </div>
                                <div class="u-s-m-b-30">

                                    <!--====== Select Box ======-->

                                    <label class="gl-label" for="address-state">STATE/PROVINCE *</label><select
                                        class="select-box select-box--primary-style" id="address-state">
                                    <option selected value="">Choose State/Province</option>
                                    <option value="al">Alabama</option>
                                    <option value="al">Alaska</option>
                                    <option value="ny">New York</option>
                                </select>
                                    <!--====== End - Select Box ======-->
                                </div>
                            </div>
                            <div class="gl-inline">
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-city">TOWN/CITY *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-city">
                                </div>
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="address-street">ZIP/POSTAL CODE *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="address-postal"
                                           placeholder="Zip/Postal Code"></div>
                            </div>
                            <div class="gl-modal-btn-group">
                                <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Shipping Address Add Modal ======-->
    <!--====== End - Modal Section ======-->
</div>
<!--====== End - Main App ======-->

<th:block th:replace="fragments/base/script :: script"></th:block>
<script th:src="@{/js/cart/cart.js}"></script>
<script th:inline="javascript">
    window.onload = () => {
        loadCarts([[${param.page}]], [[${param.size}]]);
        removeAllEvent();
    }
</script>
</body>
</html>