<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <th block th:replace="fragments/base/head :: head"></th>
</head>

<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">
        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">
    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">
        <th:block th:replace="fragments/base/header :: header"></th:block>
    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">
        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-y-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary">회원 가입</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row row--center">
                        <div class="col-lg-6 col-md-8 u-s-m-b-30">
                            <div class="l-f-o">
                                <div class="l-f-o__pad-box">
                                    <form id="signup-form" class="l-f-o__form">
                                        <div class="gl-s-api"></div>
                                        <div class="u-s-m-b-10">
                                            <label class="gl-label" for="email">이메일</label>
                                            <input id="email" name="email" class="input-text input-text--primary-style" type="text" placeholder="이메일">
                                        </div>

                                        <div id="result-email-div" class="u-s-m-b-10">
                                            <label id="result-email-label" class="gl-label" style="color: red">이메일 검증 에러</label>
                                        </div>

                                        <div class="gl-inline u-s-m-b-10">
                                            <div class="password-div">
                                                <label class="gl-label" for="password">비밀번호</label>
                                                <input id="password" name="password" class="input-text input-text--primary-style" type="password" placeholder="비밀번호">
                                            </div>

                                            <div id="confirmPassword-div">
                                                <label class="gl-label" for="confirm-password">비밀번호 확인</label>
                                                <input id="confirm-password" name="password-confirm" class="input-text input-text--primary-style" type="password" placeholder="비밀번호">
                                            </div>
                                        </div>

                                        <div id="result-password-div" class="u-s-m-b-10">
                                            <label id="result-password-label" class="gl-label" style="color: red">비밀번호 검증 에러</label>
                                        </div>

                                        <div class="gl-inline">
                                            <div class="u-s-m-b-10">
                                                <label class="gl-label" for="name">이름</label>
                                                <input id="name" name="name" class="input-text input-text--primary-style" type="text" placeholder="이름을 입력해주세요">
                                            </div>
                                        </div>

                                        <div id="result-name-div" class="u-s-m-b-20">
                                            <label id="result-name-label" class="gl-label" style="color: #00aced">이름 검증 성공</label>
                                        </div>

                                        <div class="u-s-m-b-10">
                                            <label class="gl-label" for="tel">전화번호</label>
                                            <input id="tel" name="tel" class="input-text input-text--primary-style" type="text" placeholder="전화번호를 입력해주세요">
                                        </div>

                                        <div id="result-tel-div" class="u-s-m-b-20">
                                            <label id="result-tel-label" class="gl-label" style="color: #1e9260">전화번호 검증 성공</label>
                                        </div>

                                        <div class="gl-inline">
                                            <div class="u-s-m-b-10">
                                                <!--====== Date of Birth Select-Box ======-->
                                                <span class="gl-label">생년 월일</span>

                                                <div class="gl-dob u-s-m-b-10">
                                                    <input id="birth-date" name="birthDate" class="input-text input-text--primary-style" placeholder="생년월일(8자리)">
                                                </div>

                                                <div id="result-birth-date-div" class="u-s-m-b-20">
                                                    <label id="result-birth-date-label" class="gl-label">생년월일 에러</label>
                                                </div>
                                            </div>

                                            <div class="u-s-m-b-10">
                                                <label class="gl-label" for="gender">성별</label>

                                                <div class="gl-dob u-s-m-b-10">
                                                    <select id="gender" name="gender" class="select-box select-box--primary-style u-w-100">
                                                        <option selected>성별</option>
                                                        <option value="male">남자</option>
                                                        <option value="female">여자</option>
                                                    </select>
                                                </div>

                                                <div id="result-gender-div" class="u-s-m-b-20">
                                                    <label id="result-gender-label" class="gl-label" style="color: #a90707">성별 에러</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="u-s-m-b-15" style="display: flex; justify-content: end;">
                                            <button class="btn btn--e-transparent-brand-b-2" type="submit">회원가입</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <footer>
        <th:block th:replace="fragments/base/footer :: footer"></th:block>
    </footer>
</div>
<!--====== End - Main App ======-->

<th:block th:replace="fragments/base/script :: script"></th:block>

</body>
</html>