<!DOCTYPE html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/base/head :: head"></th:block>
    <style>
        .disabled {
            pointer-events: none;
            cursor: default;
            border-radius: 50%;
        }

        .float-right {
            float: right;
        }
        .width-50p {
            width: 50%;
        }
    </style>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">
        <img class="preloader__img" src="images/preloader.png" alt=""></div>
</div>

<!--====== Main App ======-->
<div id="app">

    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">
        <th:block th:replace="fragments/base/header :: header"></th:block>
    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="/">Home</a></li>
                                <li class="is-marked">

                                    <a href="/pay/kakao">Payment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 3 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="checkout-f">
                        <div class="row">
                            <div class="col-lg">
                                <h1 class="checkout-f__h1">ORDER SUMMARY</h1>

                                <!--====== Order Summary ======-->
                                <div class="o-summary">
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__item-wrap gl-scroll">
                                            <div class="u-s-m-b-30">
                                                <label class="gl-label" for="point">
                                                    <div class="radio-box">
                                                        <input type="radio" id="point-5000" name="point" checked="" value="5000">
                                                        <div class="radio-box__state radio-box__state--primary">
                                                            <label class="radio-box__label" for="point-5000">5000</label>
                                                        </div>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="point-10000" name="point" checked="" value="10000">
                                                        <div class="radio-box__state radio-box__state--primary">
                                                            <label class="radio-box__label" for="point-10000">10000</label>
                                                        </div>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" id="point-20000" name="point" checked="" value="20000">
                                                        <div class="radio-box__state radio-box__state--primary">
                                                            <label class="radio-box__label" for="point-20000">20000</label>
                                                        </div>
                                                    </div>
                                                </label>

                                                <input class="input-text input-text--primary-style float-right width-50p" type="number" id="point">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__box">
                                            <table class="o-summary__table">
                                                <tbody>
                                                <tr>
                                                    <td>GRAND TOTAL</td>
                                                    <td id="grand-total">$379.00</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__box">
                                            <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
                                            <form class="checkout-f__payment">
                                                <button class="btn btn--e-brand-b-2 kakao-pay" id="kakao-pay" type="button">카카오 페이</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Order Summary ======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 3 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <footer>
        <th:block th:replace="fragments/base/footer"></th:block>
    </footer>
</div>
<!--====== End - Main App ======-->

<th:block th:replace="fragments/base/script :: script"></th:block>
<script th:src="@{/js/pagination/jquery.twbsPagination.min.js}"></script>
<script th:src="@{/js/payment/orders.js}"></script>
<script th:src="@{/js/payment/payment.js}"></script>
<script th:inline="javascript">
    window.onload = () => {
        setPoint();
        $("[name=point]").on("change", function() {
            setPoint();

            $("#grand-total").text();
        });

        $("#point").on("change keyup", function() {
            setPrice();

            reKakaoEvent();
        });

        let opened = addKakaoPayEvent("Point", parseInt($("#point").val()));
    }

    let setPoint = () => {
        let selectedValue = $("input[name='point']:checked").val();
        $("#point").val($("label[for='point-" + selectedValue + "']").text());

        setPrice();
    }

    let setPrice = () => {
        $("#grand-total").text(Number($("#point").val()).toLocaleString("ko-KR"))
    }

    let reKakaoEvent = () => {
        $("#kakao-pay").attr("disabled", true);
        $("#kakao-pay").off("click");
        let opened = addKakaoPayEvent("Point", $("#point").val());
        $("#kakao-pay").attr("disabled", false);
    }
</script>
</body>
</html>